body
{
   background-color: #111;
   color: #ddd;
   font-family: DejaVu Sans Mono, Lucida Console, Courier New, Monospace;
}

.content
{
   width:800px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

#intro
{
   height: 30px;
}

#info
{
   height: 30px;
}
